body{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-weight: 700;
}
p{
    font-weight: 500;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(210, 214, 221);
}
nav a{
    color: black;
    text-decoration: none;
    padding: 10px  10px;
}
h1{
    text-align: center;
    font-weight: 700;
}
h3{
    display: flex;
    background-color: rgb(191, 197, 204);
    text-align: center;
}
.datos{
    border: 1px  black;
    margin: 10px 100px 50px 100px;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    height: 350px;
    width: 100;
    
}
.foto{
    width: auto;
    height: 150px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.foto:hover{
    transform: scale(1.5,1.5);
    transition: 4s;
}


.contenedor{
    margin: 0 auto;
    width: 90%;
}
.flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.columna{
    background: beige;
    color: rgba(0, 0, 0, 0.726);
    border: 1px solid  rgba(0, 0, 0, 0.726);
    margin: 10px;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px black;
 
}
.cargo{
    font-size: 30px;
    color: rgb(7, 54, 156);
}
.imagen:hover{
    transform: scale(1.5 , 1.5);
    transition: 2s;
}
.imagen{
    width: auto;
    height: 100px;
}